{% extends "website/index.html"%}

{% block content %}

<div id="about-container">

	<div id="about-information">
		
		<h2>Quiénes somos</h2>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p><p>Cras at lectus vitae erat consectetur volutpat in vel lorem. Vestibulum varius erat elit, a varius nisi fermentum eget. Sed lacinia egestas enim, eget malesuada orci dictum eget. </p><p>Praesent magna lorem, laoreet vitae quam eget, molestie venenatis velit. Sed risus sapien, tincidunt quis euismod sit amet, porttitor in lectus. </p>

	</div>

	<div id="about-image">
		<img src="{{MEDIA_URL}}images/elephant_logo.png" alt="">
	</div>
</div>

{% endblock %}
