{% extends "website/index.html"%}

{% block content %}

{% load staticfiles %}

<script>
$(function () {

	// Slideshow 1
	$("#slider1").responsiveSlides({
		auto: false,
		pager: false,
		nav: true,
		speed: 500,
		maxwidth: 800,
		namespace: "centered-btns"
	});

});
</script>

<div id="project-description">

	<table>
		<tr>
			<td class="project-description">
				<h2>{{project.name}}</h2>
				{{project.description | safe}}
				{% if project.url %}
			</br>
			<a href="{{project.url}}" target="_blank">IR AL SITIO</a>
			{% endif %}
		</td>
		<td class="project-carousel">
			<div class="rslides_container">
			
				<ul class="rslides" id="slider1">
					{% for photo in photos %}
					<li><img src="{{MEDIA_URL}}{{photo.image}}"></li>
					{% endfor %}
				</ul>

			</div>
		</td>
	</tr>
</table>

</div>

{% endblock %}


