<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		{% load staticfiles %}
		<title>Parallax Tutorial</title>
		<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
		<link rel="stylesheet" href="{% static 'website/css/redesign.css' %}" type="text/css" />

	</head>
	<body>
		<section id="menu">
			<div class="logo"><img src="" alt="" /></div>
			<ul>
				<li>ABOUT</li>
				<li>PROYECTOS</li>
				<li>CONTACO</li>
			</ul>
		</section>
	</body>
</html>