{% extends "website/index.html"%}

{% block content %}

<div id="services-container">

	<table cellspacing="0" cellpadding="0" border="0"> 
		<tbody>
			<tr>
				<td>
					<div id="service-cell">
						<h2 class="grafico">DISEÑO GRÁFICO</h2>
						<div id="service-description">
							<p>Branding</p>
							<p>Diseño Editorial</p>
							<p>Ilustración</p>
						</div>
					</div>
				</td>
				<td>
					<div id="service-cell">
						<h2 class="web">WEB</h2>
						<div id="service-description">
							<p>Sitios Móviles</p>
							<p>Diseño & Desarrollo</p>
							<p>Hosting</p>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div id="service-cell">
						<h2 class="foto">FOTOGRAFÍA</h2>
						<div id="service-description">
							<p>Eventos</p>
							<p>Locación</p>
							<p>Estudio</p>
						</div>
					</div>
				</td>
				<td>
					<div id="service-cell">
						<h2 class="video">VIDEO</h2>
						<div id="service-description">
							<p>Producción</p>
							<p>Dirección</p>
							<p>Edición</p>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>

</div>

{% endblock %}
